# Godot 4+ specific ignores

/android/

# Godot 4 cache
.godot/

# Godot 3 imports
.import/

# User/editor temp files
*.tmp
*.temp
*~
.DS_Store
Thumbs.db

# Mono / C#
.mono/
.vs/
**/bin/
**/obj/
mono_crash.*.json

# Logs
*.log
